$yellow: #F8A30E
$orange: #F77F11
$red: #E41408
$color1: #521E48
$color2: #0B004D
$gray-1: #333333
$gray-2: #666666
$gray-3: #999999

$xs: 576px
$sm: 576px
$md: 768px
$lg: 992px
$xl: 1200px
$xxl: 1400px

